<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" >
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
             <h1>Todos</h1>
                <input type="text" class="form-control add-todo" data-url="/todos/new" data-user="<%=userId%>" placeholder="Add todo, then press Enter..">
                    <button id="checkAll" class="btn btn-success">Mark all as done</button>
                    
                    <hr>
                    <ul id="sortable" class="list-unstyled">
                    <% todos.forEach(todo=> {
                        if(!todo.done){    
                    %>

                    <li class="ui-state-default">
                        <div class="checkbox">
                            <label data-url="/todos/<%=todo.id%>/update">
                                <input type="checkbox" value="" />
                                <%= todo.task %>
                            </label>
                        </div>
                    </li>
                    <%}})%>
                </ul>
                <div class="todo-footer">
                    <strong><span class="count-todos"></span></strong> task Left
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="todolist">
             <h1>Already Done</h1>
                <ul id="done-items" class="list-unstyled">
                    <% todos.forEach(todo=> {
                        if(todo.done){    
                    %>
                    <li> <%=todo.task%> <button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                    <%}})%>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/todos-script.js"></script>